h1 {
  float: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  text-align: justify;
}

div.column1 {
  float: left;
  width: 33.33%;
  text-align: center;
  margin-top: -1em;
}

div.column2 {
  float: left;
  width: 50%;
  text-align: center;
  margin-top: -1em;
}

div.row:after {
  content: "";
  display: table;
  clear: both;
}

a.button {
  font-family: sans-serif;
  display: block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  width: 100%;
}

a.button:hover {
  color: white;
  background: black;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-family: sans-serif;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

form {
  display: block;
  margin: 0 0.3em 0.3em 0;
  text-align: center;
}

form.rad {
  text-align: justify;
}

textarea {
  margin-top: 0.5em;
  width: 100%;
  height: 4em;
}

input {
  border: solid;
  border-width: 0.1em;
  text-align: center;
  margin-bottom: 0.5em;
}

input.rad {
  display: inline;
  text-align: left;
}

input.larger {
  width: 20em;
}

input.small {
  text-align: left;
  width: 9em;
  margin-bottom: 0.5em;
}

input.smaller {
  width: 7em;
  margin-bottom: 0.5em;
}

input.smallest {
  width: 2em;
  margin-bottom: 0.5em;
}

/*styles for likert scale */

h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}

form {
  text-align: justify;
}

form .statement {
  display:block;
  margin-bottom: 2em;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}

form .likert:before {
  content: '';
  position:relative;
  top:11px;
  display:block;
  background-color:#000000;
  height:4px;
  width:100%;
}
form .likert li {
  display:inline-block;
  width:13%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;

}
form .likert li label {
  text-align: center;

}

/* styles for slider */
.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: inline;
  font-family: sans-serif;

}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 60%;
  height: 0.25em; /* Specified height */
  background: grey; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 0.75em; /* Set a specific slider handle width */
  height: 0.75em; /* Slider handle height */
  background: #000000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 2em; /* Set a specific slider handle width */
  height: 2em; /* Slider handle height */
  background: #000000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

form.na {
  font-family: sans-serif;
  font-size: 0.75em;
  text-align: center;
}

input.na {
  height: 0.75em;
  width: 0.75em;
}
